### De backtest class
Heeft een symbol van het aandeel om de data te vinden, maakt daar een dataframe van (tabel). Heeft verschillende methods met toepassing op de strategie/backtest, de eerste om de benodigde indicators te berekenen, de tweede method is om de koop/verkoop signalen te genereren door middel van masks die op hun beurt weer gebaseerd zijn op de verschillende indicatoren. Deze signalen genereren markeringen waarbij het signaal ofwel koop ofwel verkoop is, in de derde method worden dese koop en verkoop signalen met elkaar gekoppeld zodat er geen dubbele posities. Als er dus twee verkoop signalen achter elkaar zijn dan vervalt er dus 1. Als de strategie alleen long posities aangaat en het eerste signaal is een verkoop signaal waarna een koop signaal volgt dan vervalt het eerste signaal ook. De laatste method berekent de winst en andere benodigde gegevens om de prestaties van het algoritme te bepalen. Met deze backtest class kunnen ook strategieÃ«n die niet gebouwd zijn op technische indicatoren getest worden, de method voor het berekenen van de indicatoren en het bepalen van de signalen is dan anders.

In [1]:
import pandas as pd
import numpy as np
import ta
import matplotlib.pyplot as plt
from tiingo import TiingoClient

De numpy library zorgt ervoor dat we array's kunnen maken in plaats van python lists, deze nemen een stuk meer opslagruimte op omdat er allerlei informatie wordt opgeslagen die niet nodig is voor een lijst van getallen. Ook kan je met de numpy library goed met getallen werken. De pandas library is een van de belangrijkste bij het werken met veel data, het is de meest gebruikte library bij het werken met veel data in python. De ta library helpt ons met het berekenen van technische indicatoren, dit kunnen we zelf doen maar dit scheelt het invoeren van veel formules. Met de matplotlib library kunnen we mooi gegevens uit de data plotten. De laatste library die we gebruiken is de tiingo library, waarmee we de api van de historische data kunnen bedienen.

In [3]:
config = {}
config['session'] = True
config['api_key'] = "635bdbd888f766a407a43a68f241602aa5b218b9"

client = TiingoClient(config)

In de bovenstaande code verbinden we met de api via onze api key. Vanaf nu kunnen we met de client (de verbinding met de api) met historische data werken.

In [5]:
class Backtest:
    
    def __init__(self, symbol):
        self.symbol = symbol
        data = client.get_ticker_price(symbol,
                                            fmt='json',
                                            startDate='2017-08-01',
                                            endDate='2017-08-31',
                                            frequency='1Min')
        self.df = pd.DataFrame(data)
        
        
    # def calc_indicators():
    # def generate_signals():
    # def match_signals():
    # def calc_profit():

In [6]:
tesla = Backtest("TSLA")

In [7]:
tesla.df.head()

                       date    close     high      low     open
0  2017-08-01T13:30:00.000Z  321.935  322.750  321.590  322.750
1  2017-08-01T13:31:00.000Z  321.935  321.935  321.935  321.935
2  2017-08-01T13:32:00.000Z  320.500  320.700  319.990  320.700
3  2017-08-01T13:33:00.000Z  320.500  321.200  320.500  320.500
4  2017-08-01T13:34:00.000Z  320.500  320.500  320.500  320.500